{% extends 'flatpages/default.html' %}

{% block title %} Delete post {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный товар?</h2>
<table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Описание
                </td>
            </tr>

            <tr>
                <td>
                    {{ new.title }}
                </td>
                <td>
                    {{ new.time_in|date:'d.m.y' }}
                </td>
                <td>
                    {{ new.text|truncatechars:21 }}
                </td>
            </tr>

        </table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>

{% endblock content %}

